@rd-blue-darkest: #0B3C4C;
@rd-blue-dark: #0E5066;
@rd-blue-normal: #13647F;
@rd-blue-light: #127899;
@rd-blue-lightest: #1A8BB2;

@rd-black-dark: #343434;

.invisible {
  display: none;
}

body {
  font-family: 'Lato';
  color: @rd-black-dark;
  line-height: 1.6;
  font-size: 15px;

}

.stager-box {
  color: #fff;
  padding: 20px 70px 30px 70px;
}

.intro {
  margin-bottom: 30px;
  text-align: center;
  font-size: 18px;
}

.bg-blue-dark {
  background-color: @rd-blue-dark;
}

.bg-blue-light {
  background-color: @rd-blue-light;
}

.bg-blue-darkest {
  background-color: @rd-blue-darkest;
}

.container-fluid, .container {
  padding-left: 0px;
  padding-right: 0px;
}

h1, h2 {
  text-transform: uppercase;
}

h2 {
  font-weight: 900;
  text-align: center;
  margin-bottom: 40px;
}

.mod_article {
  padding: 40px 0;
}

.stager {
  h1 {
    font-size: 46px;
  }
  h2 {
    font-size: 16px;
    font-weight: normal;
  }
}

#header {
  position: absolute;
  top: 60px;
  width: 100%;
  padding: 0px 10%;
  #logo {
    float: left;
    margin-top: -10px;
    margin-left: 30px;
  }
  nav.desktop {
    float: right;
    margin-right: 30px;
  }

  nav a {
    font-size: 16px;
    color: #fff;
    padding: 10px 10px;
  }

  nav a:hover, nav span {
    color: @rd-blue-lightest;
    text-decoration: none;
  }

  nav li {
    display: inline;
  }
}

.spotlight {
  background-color: @rd-black-dark;
  color: #fff;
  .row {
    height: 400px;
    .stager {
      margin-top: 140px;
    }
  }
}

body.home {
  .spotlight-home {
    .row {
      height: 720px;
      .stager {
        margin-top: 300px;
      }
    }
  }
}