a,
a:hover {
  text-decoration: none;
}
.icon {
  border-radius: 50%;
  text-align: center;
  width: 50px;
  height: 50px;
  display: inline-block;
  font-size: 16px;
  margin: 0px 5px;
}
.icon a,
.icon em {
  color: #1a8bb2 !important;
  text-decoration: none;
}
.icon.hover {
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
}
.icon.hover:hover {
  background-color: #ffffff;
}
.icon-big {
  width: 100px;
  height: 100px;
  font-size: 26px;
  padding-top: 16px;
}
.font-big {
  font-size: 26px;
  text-transform: uppercase;
}
footer .icon a,
footer .icon em {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding-top: 18px;
  padding-left: 6px;
  text-align: center;
}
.border-top {
  border-top: 2px solid #1a8bb2;
}
.invisible {
  display: none;
}
body {
  font-family: 'Lato';
  color: #343434;
  line-height: 1.6;
  font-size: 15px;
}
.row {
  margin-left: 0px;
  margin-right: 0px;
}
.stager-box .inside {
  color: #fff;
  padding: 20px 35px 30px 35px;
}
.intro {
  margin-bottom: 30px;
  text-align: center;
  font-size: 18px;
}
.bg-blue-dark-inner .inside,
.bg-blue-dark {
  background-color: #0e5066;
}
.bg-blue-light-inner .inside,
.bg-blue-light {
  background-color: #127899;
}
.bg-blue-darkest-inner .inside,
.bg-blue-darkest {
  background-color: #0b3c4c;
}
.bg-dark {
  background-color: #343434;
}
.container-fluid,
.container {
  padding-left: 0px;
  padding-right: 0px;
}
h1,
h2 {
  text-transform: uppercase;
}
h2 {
  font-weight: 900;
  text-align: center;
  margin-bottom: 40px;
}
@media (max-width: 480px) {
  h2 {
    font-size: 24px;
  }
}
.mod_article {
  padding: 40px 0;
}
.stager h1 {
  font-size: 46px;
}
@media (max-width: 480px) {
  .stager h1 {
    font-size: 24px;
  }
}
.stager h2 {
  font-size: 16px;
  font-weight: normal;
}
.text-left {
  text-align: left;
}
.text-left h2 {
  text-align: left;
}
#header {
  position: absolute;
  top: 60px;
  width: 100%;
  padding: 0px 10%;
}
#header #logo {
  float: left;
  margin-top: -10px;
  margin-left: 30px;
  z-index: 3;
  position: relative;
}
#header nav.desktop {
  float: right;
  margin-right: 30px;
}
#header nav a,
#header nav span {
  font-size: 20px;
  color: #fff;
  padding: 10px 10px;
  text-decoration: none;
}
#header nav a:hover,
#header nav span {
  color: #1a8bb2;
  text-decoration: none;
}
#header nav li {
  display: inline;
}
.spotlight {
  background-color: #343434;
  color: #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.spotlight .row {
  height: 400px;
}
.spotlight .row .stager {
  margin-top: 140px;
}
.spotlight-home {
  background: url("//www.rad-consulting.dev/files/theme/rad-consulting/images/spotlight-home.jpg") no-repeat center -100px fixed;
}
.spotlight-home .row {
  height: 560px;
}
.spotlight-home .row .stager {
  margin-top: 220px;
}
.spotlight-services {
  background: url("//www.rad-consulting.dev/files/theme/rad-consulting/images/spotlight-services.jpg") no-repeat center -100px fixed;
}
.spotlight-services .row {
  height: 560px;
}
.spotlight-services .row .stager {
  margin-top: 220px;
}
.spotlight-contact {
  background: url("//www.rad-consulting.dev/files/theme/rad-consulting/images/spotlight-contact.jpg") no-repeat center -100px fixed;
}
.spotlight-contact .row {
  height: 560px;
}
.spotlight-contact .row .stager {
  margin-top: 220px;
}
footer .inside {
  padding: 60px 0;
  color: #bdbdbd;
  font-size: 13px;
  background: url("//www.rad-consulting.dev/files/theme/rad-consulting/images/rd-bg-black.jpg") repeat;
}
footer .inside a {
  color: #bdbdbd;
}
footer .inside h5 {
  color: #127899;
  text-align: center;
  padding: 15px 0;
  font-size: 18px;
  text-transform: uppercase;
}
footer .inside .line {
  border-bottom: 1px dotted #bdbdbd;
  margin: 20px 0;
}
footer .inside .logo-footer {
  margin-top: 10px;
}
.font-white {
  color: #ffffff !important;
}
.font-blue-lightest {
  color: #1a8bb2;
  white-space: nowrap;
}
.button {
  border-radius: 3px;
  display: inline-block;
  padding: 8px 30px;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
}
.button-link {
  background-color: #1a8bb2;
  border: 2px solid #1a8bb2;
  color: #ffffff;
  font-size: 13px;
}
.button-link:hover {
  background-color: #ffffff;
  color: #1a8bb2;
}
.nav-mobile {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: -99;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
}
.nav-mobile ul {
  position: absolute;
  top: 300px;
  left: 50%;
  width: 320px;
  margin-left: -160px;
  padding-left: 0px;
}
.nav-mobile ul li {
  display: block !important;
  width: 100%;
  position: absolute;
  opacity: 0;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  -webkit-transition-delay: 300ms;
  /* Safari */

  transition-delay: 300ms;
  text-align: center;
}
.nav-mobile a,
.nav-mobile span {
  font-size: 32px !important;
}
.nav-mobile.active {
  z-index: 1;
  visibility: visible;
  opacity: 1;
}
.nav-mobile.active ul li {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  opacity: 1;
}
.nav-mobile.active ul li:nth-child(1) {
  margin-top: -90px;
}
.nav-mobile.active ul li:nth-child(2) {
  margin-top: 0px;
}
.nav-mobile.active ul li:nth-child(3) {
  margin-top: 90px;
}
.nav-toggle-container {
  margin-top: 0px;
  position: fixed;
  right: 50px;
  z-index: 2;
}
#nav-toggle {
  display: inline-block;
  position: relative;
  width: 45px;
  height: 25px;
  padding: 20px 10px 23px 10px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 3px;
  width: 25px;
  background: white;
  position: absolute;
  display: block;
  content: '';
  -webkit-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -ms-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
#nav-toggle.black {
  background-color: #ffffff;
}
#nav-toggle.black span,
#nav-toggle.black span:before,
#nav-toggle.black span:after {
  background: #343434;
}
#nav-toggle span:before {
  top: -7px;
}
#nav-toggle span:after {
  bottom: -7px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(135deg);
}
#nav-toggle.active span:after {
  transform: rotate(-135deg);
}
.in-ipad .image-border {
  background: url(../images/ipad-border-tinyfied.png) center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 20px 20px 0px 20px;
}
.fit-bottom {
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.fit-bottom .ce_text {
  margin-bottom: 0px;
}
body.maintenance {
  background: url(../images/maintenance.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 1;
}
body.maintenance .maintenance-stager {
  margin-top: 200px;
  margin-bottom: 200px;
  -webkit-animation-delay: 300ms;
  /* Safari */

  animation-delay: 300ms;
}
body.maintenance h1 {
  font-weight: 900;
}
@media (max-width: 480px) {
  body.maintenance h1 {
    font-size: 24px;
    white-space: nowrap;
  }
}
